*{
    box-sizing: border-box;
}
html {
    /*background-color: #f2eeeb;*/
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent; }
nav, section {
    display: block; }
body {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h4, h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1, .h1 {
    font-size: 2.5rem; }
h2, .h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3, .h3 {
    color: grey;
    font-family: "Arial", "Helvetica Neue";
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
h4, .h4 {
    font-size: 1.2rem;
    margin-top:20px;
    margin-bottom: 40px;
}
h5, .h5 {
    font-size: 1.25rem; }
h6, .h6 {
    color: grey;
    font-family: "Arial", "Helvetica Neue";
    font-size: 0.75rem;
    margin-top: -20px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem; }
ol,
ul,
dl
{
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    /*-webkit-text-decoration-skip: objects;*/
}
hr {
    height: 0.5px;
    color: grey;
    stroke-opacity: 50%;
}
#homepage{
    font-size: 1.5em;
}
.flex, .flex1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.flex-item, .flex1-item{
    display: -webkit-flex; /* Safari */
    display: flex;
}
.flex1{
    align-items: flex-start;
}
.flex1-item{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.item1 .btn{
    padding: 10px 30px;
    line-height: 50px;
}
.item3 .btn{
    line-height: 10px;
    text-align: center;
}
#addtocart{
    background-color: black;
    color: white;
    padding: 10px 40px;
    line-height: 30px;
}
#checkout{
    display:inline-block;
    background-color: black;
    color: white;
    padding: 10px 40px;
    line-height: 30px;
}


.btn{
    border: 2px solid #d6d6d6;
    padding: 10px;
}
.btn:hover{
    opacity: 0.5;
}
.nav{
    text-align: right;
}
.new-nav-item{
    margin: 15px;
}
.new-nav-item a{
    color: #b0b0b0;
}
.new-nav-item a:hover{
    color: #808080;
}
.grid-container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
}
.flavors-images img{
    width: 75%;
}
.pagehead{
    text-align: center;
    margin: 30px auto;
}
.grid-item{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.grid-item:hover{
    opacity: 0.5;
}
.detail-image img{
    width: 100%;
}
.cart-item{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
}
.content{
    width: 75%;
    height: 100%;
    align-items: center;
}
.walnutrollimage{
    margin-bottom: 15px;
}
.review{
    font-size: 0.75rem;
}
#backtoshopping{
    text-align: left;
    display:inline-block;
}
#gotowishlist{
    text-align: left;
    display:inline-block;
}
#backarrow{
    margin-right: 10px;
}
#forwardarrow{
    margin-right: 10px;
}
#clear-cart{
    border: 2px solid #d6d6d6;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px;
    display: block;
}
.pack{
    padding-left: 15px;
    padding-right: 15px;
}

#addtowishlist:hover{
    opacity: 0.5;
}

#addtocartwithlogo:hover{
    opacity: 0.5;
}